<div>
  <h3>
    指标说明
  </h3>
  <div>
      <span class="label label-success">更新时间:</span>
      <span> 2017-12-19</span>
  </div>

  <div>
      <span class="label label-success">自评得分:</span>
      <span> 71.45</span>
  </div>

  <div>
      <span class="label label-success">总结材料:</span>
      <span> 需要材料清单: 1.自检报告；2.自检表</span>
  </div>

  <div>
      <span class="label label-success">材料上传:</span>
      <table class="table">
          <tr>
              <th>材料名称</th>
              <th>提交时间</th>
          </tr>          
          <tr>
              <td>111.pdf</td>
              <td>2017-6-30</td>
          </tr>         
      </table>
      <a href="">新增</a>
  </div>

</div>