<div class="info-side__wrapper">
    <h3 class="info-side__header--title">
    指标说明
    </h3>
    <div class="info-side__content--box">
        <div class="info-side__content--table">
            <div class="content--table__tr">
              <h4><span class="label label-success content--table__tr__td">更新时间:</span></h4>
                <span class="home--value--content">  {{baseInfo.scoreTime | dateFormat : 'YYYY-MM-DD'}}</span>
            </div>

            <div class="content--table__tr">
              <h4><span class="label label-success content--table__tr__td">自评得分:</span></h4>
                <span class="home--value--content"> {{baseInfo.score}}</span>
            </div>

            <div class="content--table__tr">
              <h4><span class="label label-success content--table__tr__td">总结材料:</span></h4>
                <span class="home--value--content"> {{baseInfo.workResolve}}</span>
            </div>

            <div class="content--table__tr align--top">
                <h4><span class="label label-success content--table__tr__td">材料上传:</span></h4>
                <table class="table content--table__tr__table">
                        <tr>
                          <th>#</th>
                            <th>材料名称</th>
                            <th>提交时间</th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let file of fileList">
                          <td>
                            {{i + 1}}
                          </td>
                                <td>{{file.fileName}}</td>
                                <td>{{file.time | dateFormat : 'YYYY-MM-DD HH:mm:ss'}}</td>
                                <td>
                                    <a (click)="deleteFile(file)">
                                        删除
                                    </a>
                                </td>
                            </tr>
                </table>

            </div>
            <p class="text-center">
                <a (click)="isOpenFileForm=!isOpenFileForm">
                    {{isOpenFileForm ? '收起' : '新增'}}
                </a>
            </p>
            <div [@toggleExpand]="isOpenFileForm" class="grade--upload--wrapper">
                    <p><b>上传认证材料</b></p>
                    <p>请规范上传文件名称</p>
                    <a class="mat-menu-item__button a-upload" >
                            <input class="mat-menu-item__button" type="file" ng2FileSelect [uploader]="uploader" multiple/>
                        </a>
                        <table class="table" *ngIf="uploader">
                            <tr>

                                <th>文件名</th>
                                <th>状态</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let file of uploader.queue">
                                <td>{{file._file.name}}</td>
                                <td>
                                    <span *ngIf="file.isError" class="fa fa-exclamation-circle status--prompt--icon" style="color: #cd624c">错误</span>
                                    <span *ngIf="file.isSuccess" class="fa fa-check-circle status--prompt--icon" style="color: #56DA90">成功</span>
                                            <span *ngIf="file.isUploading">
                                            {{file.progress}}%
                                            </span>
                                            <span *ngIf="file.isReady && !file.isUploading">
                                                排队中
                                            </span>
                                </td>
                                <td>
                                    <div [hidden]="file.isSuccess">
                                        <button type="button" class="btn btn-success btn-xs"
                                                (click)="file.upload()" [disabled]="file.isReady || file.isUploading || file.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span>上传
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs"
                                                (click)="file.cancel()" [disabled]="!file.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> 取消
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs"
                                                (click)="file.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> 删除
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
            </div>
        </div>
    </div>


</div>
