<div>
    <h3>分解工作</h3>
    <p *ngIf="!this.parameter.id">
        你还没有选择任何节点
    </p>
    <div  *ngIf="this.parameter.id">
      <div>
          <div>
              <span class="label label-success">指标名称:</span>
              <span> 1.1.1</span>
          </div>     
          <div>
              <span class="label label-success">指标分值:</span>
              <span> 0.4分</span>
          </div>   
          <div>
              <span class="label label-success">指标要求:</span>
              <span> xxx</span>
          </div>     
          <div>
              <span class="label label-success">评估方式:</span>
              <span> xxx</span>
          </div> 
          <div>
              <span class="label label-success">责任处室:</span>
              <input type="text" class="form-control" id="responiblity" >
          </div> 
          <div>
              <span class="label label-success">工作分解:</span>
              <textarea class="form-control" name="missionResolve" id="missionResolve" cols="30" rows="10"></textarea>             
          </div> 
          <div>
              <span class="label label-success">更新时间:</span>
              <span> 2017-06-30</span>
          </div>
          <div>
              <button class="btn btn-default" (click)="updateMission()">确定</button>
          </div>
      </div>
    </div>
    
  </div>
  