.info-side__wrapper{
    height: 100%;
    .info-side__header--title{
        font-size: 20px;
        background: #3379b7;
        margin: 0;
        padding: 10px 15px;
        color: #ffffff;

    }
}
.info-side__content--box{
    height: calc(100% - 45px);
    overflow-y: auto;
    padding: 15px 0;
    .info-side__content--table{
        height: 100%;
        .content--table__tr{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 15px;
            &.align--top{
                align-items: baseline;;
            }
            .content--table__tr__td{
                margin-right: 20px;
                margin-left: 10px;
                padding: 5px 10px;
            }
        }
        .commit--btn--box{
            display: flex;
            justify-content: center;
            padding-top: 10px;
        }
    }
}
