@charset "utf-8";
.add--node--modal--warpper{
  .value--box{
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    .value--box__name{
      width: 120px;
      font-weight: normal;
    }
    .value--box__content{
      &.radio--button{
      }
    }

    &.radio--button--box{
      justify-content: flex-start;
      .value--box__name{
        width: 90px;
      }
    }
  }
}
