@charset "utf-8";
.tree--icon{
  width: 18px;
}
.tree--node--box{
  .add--node{
    display: none;
  }
  &:hover{
    .add--node{
      display: inline-block;
      color: #3eb190;
      text-decoration: none;
    }
  }
}
