<div class="info-side__wrapper">
  <h3 class="info-side__header--title">指标说明</h3>
  <p [hidden]="this.parameter.id" class="text-center no--choose--node--box">
      你还没有选择任何节点
  </p>
  <div [hidden]="!this.parameter.id" class="info-side__content--box grade--component">
      <table class="head--content--description--box">
          <tr>
              <td class="description">
                  <div class="description--content">
                      {{baseInfo.requirements}}
                  </div>
              </td>
              <td class="rate">
                  <div class="label label-danger rate--content">{{baseInfo.rate}}分</div>
              </td>
          </tr>
      </table>

    <div class="info-side__content--table">
        <div class="content--table__tr">
            <h4><span class="label label-success content--table__tr__td">评分细节:</span></h4>
            <span> {{baseInfo.ratingDetails}}</span>
        </div>
        <div class="content--table__tr">
            <h4><span class="label label-success content--table__tr__td">评分方式:</span></h4>
            <span> {{baseInfo.evalutionMethod}}</span>
        </div>
        <div class="content--table__tr align--top">
            <h4><span class="label label-success content--table__tr__td">问题清单:</span></h4>
            <table class="table content--table__tr__table">
                <tr>
                    <th>#</th>
                    <th>完成</th>
                    <th>问题描述</th>
                    <th>提交时间</th>
                    <th>更新时间</th>
                </tr>
                <tr *ngFor="let question of questionList; let i = index">
                    <td>
                        {{i + 1}}
                    </td>
                    <td>
                        <span *ngIf="question.questionStatus==0">
                            未完成
                        </span>
                        <span *ngIf="question.questionStatus==1">
                            完成
                        </span>
                    </td>
                    <td>{{question.questionDes}}
                        <a (click)="deleteQuestion(question.id)">删除</a>
                    </td>
                    <td>
                        {{question.commitTime | dateFormat : 'YYYY-MM-DD'}}
                    </td>
                    <td>
                        {{question.time | dateFormat : 'YYYY-MM-DD'}}
                        <a *ngIf="question.questionStatus==0" (click)="updateQuestion(question.id,1)">完成</a>
                    </td>
                </tr>
            </table>
        </div>
        <p class="text-center">
            <a (click)="isOpenQuestionForm=!isOpenQuestionForm">
                {{isOpenQuestionForm ? '收起' : '新增'}}
            </a>
        </p>
        <div  [@toggleExpand]="isOpenQuestionForm" class="open--question--form--drop"  >
            <div class="well">
                <textarea placeholder="描述" [(ngModel)]="newQuestion.questionDes"  rows="3"  class="form-control well__textarea" ></textarea>
                <p class="text-center">
                  <button class="btn btn-danger" (click)="addQuestion()">确定</button>
                </p>
            </div>
        </div>
        <div class="content--table__tr align--top">
            <h4><span class="label label-success content--table__tr__td">自查记录:</span></h4>
            <table class="table content--table__tr__table">
                <tr>
                    <th width="60">#</th>
                    <th>得分</th>
                    <th>情况说明</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor="let source of sourceList">
                  <td>
                    {{i + 1}}
                  </td>
                    <td>{{source.score}}</td>
                    <td>{{source.description}}</td>
                    <td>{{source.time | dateFormat : 'YYYY-MM-DD'}}</td>
                    <td>
                        <a (click)="deleteSource(source)">
                            删除
                        </a>
                    </td>
                </tr>
            </table>

        </div>
        <p class="text-center">
            <a (click)="isOpenSourceForm=!isOpenSourceForm">
                {{isOpenSourceForm ? '收起' : '新增'}}
            </a>
        </p>

        <div [@toggleExpand]="isOpenSourceForm" class="open--question--form--drop">
            <div class="well">
                <textarea placeholder="描述" [(ngModel)]="newSource.description"  rows="3"  class="form-control well__textarea" ></textarea>
                <input placeholder="分值" type="text" class="form-control well__textarea" [(ngModel)]="newSource.score">
                <p class="text-center">
                  <button class="btn btn-danger" (click)="addSource()">确定</button>
                </p>
            </div>
        </div>

        <div class="content--table__tr">
            <h4><span class="label label-success content--table__tr__td">证明材料:</span></h4>
            <span>办公室提供机房图纸，设计文档等</span>
        </div>

        <div class="content--table__tr align--top">
            <h4><span class="label label-success content--table__tr__td">认证材料:</span></h4>
            <table class="table content--table__tr__table">
                <tr>
                    <th width="60">#</th>
                    <th>材料名称</th>
                    <th>提交时间</th>
                    <th></th>
                </tr>
                <tr *ngFor="let file of fileList">
                        <td>
                          {{i + 1}}
                        </td>
                        <td>{{file.fileName}}</td>
                        <td>{{file.time | dateFormat : 'YYYY-MM-DD'}}</td>
                        <td>
                            <a (click)="deleteFile(file)">
                                删除
                            </a>
                        </td>
                    </tr>
            </table>
        </div>
        <p class="text-center">
            <a (click)="isOpenFileForm=!isOpenFileForm">
                {{isOpenFileForm ? '收起' : '新增'}}
            </a>
        </p>
        <div [@toggleExpand]="isOpenFileForm" class="">
            <a style="height:30px;width:100%" class="mat-menu-item__button a-upload" >
                <input class="mat-menu-item__button" type="file" ng2FileSelect [uploader]="uploader" multiple/>
            </a>
            <table class="table" *ngIf="uploader">
                <tr>
                    <th width="60">文件名</th>
                    <th>状态</th>
                    <th></th>
                </tr>
                <tr *ngFor="let file of uploader.queue">
                    <td>{{file._file.name}}</td>
                    <td>
                        <span *ngIf="file.isError" class="fa fa-exclamation-circle status--prompt--icon" style="color: #cd624c">错误</span>
                        <span *ngIf="file.isSuccess" class="fa fa-check-circle status--prompt--icon" style="color: #56DA90">成功</span>
                                <span *ngIf="file.isUploading">
                                {{file.progress}}%
                                </span>
                                <span *ngIf="file.isReady && !file.isUploading">
                                    排队中
                                </span>
                    </td>
                    <td>
                        <div [hidden]="file.isSuccess">
                            <button type="button" class="btn btn-success btn-xs"
                                    (click)="file.upload()" [disabled]="file.isReady || file.isUploading || file.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span>上传
                            </button>
                            <button type="button" class="btn btn-warning btn-xs"
                                    (click)="file.cancel()" [disabled]="!file.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> 取消
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                                    (click)="file.remove()">
                                <span class="glyphicon glyphicon-trash"></span> 删除
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
  </div>

</div>
