@charset "UTF-8";
body {
  font-family: Helvetica Neue, Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; }

::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  width: 5px;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background-color: #adadad; }

::-webkit-scrollbar-thumb:active {
  background-color: #adadad; }

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-track {
  background-color: transparent; }

/*定义滑块，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  width: 5px;
  border-radius: 10px; }

a {
  cursor: pointer; }

.info-side__wrapper {
  height: 100%; }
  .info-side__wrapper .info-side__header--title {
    font-size: 18px;
    border-bottom: solid 1px #0099da;
    margin: 0;
    padding: 10px 15px;
    color: #444; }

.info-side__content--box {
  height: calc(100% - 45px);
  overflow-y: auto;
  padding: 15px 0; }
  .info-side__content--box.grade--component {
    overflow-y: hidden; }
    .info-side__content--box.grade--component .info-side__content--table {
      height: calc(100% - 42px);
      overflow-y: auto; }
  .info-side__content--box .head--content--description--box {
    width: calc(100% - 30px);
    padding: 10px 15px;
    margin: 0 auto; }
    .info-side__content--box .head--content--description--box .description {
      border-bottom: 1px solid #eeeeee;
      padding: 0 10px;
      font-size: 16px;
      font-weight: bold; }
      .info-side__content--box .head--content--description--box .description .description--content {
        margin: 10px 0; }
    .info-side__content--box .head--content--description--box .rate {
      width: 1px;
      white-space: nowrap;
      padding-left: 10px; }
      .info-side__content--box .head--content--description--box .rate .rate--content {
        font-size: 18px;
        font-weight: bold; }
  .info-side__content--box .info-side__content--table {
    height: 100%; }
    .info-side__content--box .info-side__content--table .content--table__tr {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 0 10px 15px; }
      .info-side__content--box .info-side__content--table .content--table__tr.align--top {
        align-items: baseline; }
        .info-side__content--box .info-side__content--table .content--table__tr.align--top .content--table__tr__td {
          position: relative;
          top: -5px; }
      .info-side__content--box .info-side__content--table .content--table__tr .content--table__tr__td {
        margin-right: 20px;
        margin-left: 10px;
        padding: 5px 10px; }
      .info-side__content--box .info-side__content--table .content--table__tr .content--table__tr__table {
        width: calc(100% - 110px);
        margin-bottom: 0; }
        .info-side__content--box .info-side__content--table .content--table__tr .content--table__tr__table tr th {
          border-top: none; }
      .info-side__content--box .info-side__content--table .content--table__tr .no--data {
        text-align: center;
        padding: 40px; }
    .info-side__content--box .info-side__content--table .commit--btn--box {
      display: flex;
      justify-content: center;
      padding-top: 10px; }

.open--question--form--drop .well {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 10px 25px;
  margin-bottom: 5px; }
  .open--question--form--drop .well__textarea {
    margin-bottom: 10px; }

.no--choose--node--box {
  padding: 45px 0;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px; }
  .no--choose--node--box:before {
    content: "\f06a";
    color: #eabe1f;
    font-size: 18px;
    vertical-align: middle;
    padding-right: 5px; }

.toggle-children-wrapper {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  width: 10px; }

.node-content-wrapper {
  padding-left: 10px !important; }
  .node-content-wrapper:hover {
    background: none;
    box-shadow: none; }

.node-content-wrapper-active, .node-content-wrapper-focused, .node-content-wrapper:hover {
  box-shadow: none;
  background: none; }

.node-wrapper {
  padding-top: 5px;
  padding-bottom: 5px; }
  .node-wrapper:hover {
    background: #eeeeee; }

.tree-node-focused {
  background: #428bca;
  color: #ffffff; }
  .tree-node-focused .node-wrapper:hover {
    background: transparent; }

.toggle-children-wrapper {
  font: normal normal normal 14px/1 FontAwesome; }
  .toggle-children-wrapper :before {
    content: "\f107";
    font-size: 20px;
    position: relative;
    top: -1px; }

.toggle-children {
  background-image: none; }

.toggle-children-wrapper-expanded .toggle-children {
  transform: rotate(270deg);
  position: relative;
  left: -4px;
  top: 7px; }

/*# sourceMappingURL=main.css.map */
