<app-nav-bar></app-nav-bar>
<div class="object--head--wrapper">
  <div class="jumbotron object--head--box">
    <div>
      <h3>数字档案馆系统测试工作</h3>
      <!--<span>2016年3月,如有问题请练习853855222-417</span>-->
    </div>
    <div class="label label-danger">
      <h4><b>当前自评: {{point}}分</b></h4>
    </div>
  </div>
</div>


<div class="container main-container">
    <div class="row">
        <div class="col-md-3 tree-side">
            <div class="page-header">
                <h3 class="head--title">数字档案馆系统测试指标</h3>
            </div>
            <div class="tree-container">
                <app-point-tree
                        [nodes]="nodes"
                        (changeNode)="changeNode($event)"
                        ></app-point-tree>
            </div>
        </div>
        <div class="col-md-9 info-side">
            <router-outlet></router-outlet>
        </div>
    </div>


</div>
