
.main-container{
    position: absolute;
    top: 190px;
    right: 0;
    bottom: 20px;
    //padding: 0 30px;
  //margin: 210px auto 0;
  @media (min-width: 768px){
    width: 750px;
    left: 50%;
    margin-left: -375px;
  }
  @media (min-width: 992px){
    width: 970px;
    left: 50%;
    margin-left: -485px;
  }
  @media (min-width: 1200px){
    width: 1170px;
    left: 50%;
    margin-left: -585px;
  }
  .row{
    height: 100%;
  }
}
.tree-side{
    //width : 40%;
    height: 100%;
    float: left;
  padding-right: 0;
    //margin-right: 3%;
    //border: 1px solid #3479b6;
    //border-radius: 3px;
    background-color: #f9f9f9;
    border: solid 1px #eee;
    border-left: 3px solid #ddd;
    .page-header{
        margin: 0;
        padding: 10px 15px 10px 10px;
        //background: #3479b6;
        margin-left: -18px;
        //margin-right: -15px;
        border-left: solid 3px #333;
        background-color: #f3f3f3;
        .head--title{
            margin: 0;
            font-size: 20px;
            color: #444;
        }
    }
}
.tree-container{
    height: calc(100% - 45px);
    overflow: auto;
    padding: 15px 0;
    //color: #438bc9;
    color: #444;
}
.info-side{
    float: left;
    height: 100%;
    //width : 57%;
    //border: 1px solid #3479b6;
    //border-radius: 3px;
}
.object--head--wrapper{
  //background: #ededed;
  border-bottom: solid 1px #ddd;
  background-color: #f9f9f9;
  .jumbotron{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    @media screen and (min-width: 768px){
      padding-top: 20px;
      padding-bottom: 20px;
  }
    &.object--head--box{
      padding-right: 15px;
      padding-left: 0;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: transparent;
      @media (min-width: 768px){
        width: 750px;
      }
      @media (min-width: 992px){
        width: 970px;
      }
      @media (min-width: 1200px){
        width: 1170px;
      }
    }
  }
}

