<div class="normal--user--login">
  <div class="normal--user--login__content--box">
    <div class="user--login--box">
      <div class="caption--tab">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">登录</a></li>
          <li role="presentation"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">注册</a></li>
        </ul>
      </div>


      <div class="tab-content ">
        <div role="tabpanel" class="tab-pane fade in active " id="login">
          <form (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm">
            <div class="form-group input-content-box">
              <label for="exampleInputEmail1" class="title">用户名</label>
              <div class="value--input">
                <span class="fa fa-user icon-bar" ng-class="{error: vm.showErrorMessage,focusInput:vm.focuseUserName}"></span>
                <input #userName="ngModel" type="text"
                       [(ngModel)]="loginInfo.userName"
                       [required]="true" name="userName"
                       class="form-control form--input" id="userName" placeholder="Account"
                       ng-class="{error: vm.showErrorMessage}"
                       ng-focus="vm.showErrorMessage=false;vm.focuseUserName = true"
                       ng-blur="vm.focuseUserName = false"
                       ng-change="vm.showErrorMessage=false"
                  >
              </div>
            </div>
            <div class="form-group input-content-box">
              <label for="exampleInputPassword1" class="title">密码</label>
              <div class="value--input">
                <span class="fa fa-key icon-bar" ng-class="{error: vm.showErrorMessage,focusInput:vm.focusePssword}"></span>
                <input #password="ngModel" type="password"
                       [required]="true" name="password"
                       [(ngModel)]="loginInfo.password" class="form-control form--input" id="password" placeholder="Password"
                       ng-class="{error: vm.showErrorMessage}"
                       ng-focus="vm.showErrorMessage=false;vm.focusePssword = true"
                       ng-blur="vm.focusePssword = false"
                       ng-change="vm.showErrorMessage=false"
                  >
              </div>

            </div>
            <button type="submit" class="btn btn-primary submit-btn">登录</button>
          </form>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="register">
          <form (ngSubmit)="registerForm.form.valid && register()" #registerForm="ngForm">
            <div class="form-group input-content-box">
              <label for="exampleInputEmail1" class="title">用户名</label>
              <div class="value--input">
                <span class="fa fa-user icon-bar" ng-class="{error: vm.showErrorMessage,focusInput:vm.focuseUserName}"></span>
                <input #registerUserName="ngModel" type="text"
                       [(ngModel)]="registerInfo.userName"
                       [required]="true" name="userName"
                       class="form-control form--input"  placeholder="Account"
                       ng-class="{error: vm.showErrorMessage}"
                       ng-focus="vm.showErrorMessage=false;vm.focuseUserName = true"
                       ng-blur="vm.focuseUserName = false"
                       ng-change="vm.showErrorMessage=false"
                  >
              </div>

            </div>
            <div class="form-group input-content-box">
              <label for="exampleInputPassword1" class="title">密码</label>
              <div class="value--input">
                <span class="fa fa-key icon-bar" ng-class="{error: vm.showErrorMessage,focusInput:vm.focusePssword}"></span>
                <input #registerPassword="ngModel" type="password"
                       [required]="true" name="password"
                       [(ngModel)]="registerInfo.password" class="form-control form--input" placeholder="Password"
                       ng-class="{error: vm.showErrorMessage}"
                       ng-focus="vm.showErrorMessage=false;vm.focusePssword = true"
                       ng-blur="vm.focusePssword = false"
                       ng-change="vm.showErrorMessage=false"
                  >
              </div>

            </div>
            <button type="submit" class="btn btn-primary submit-btn">注册</button>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>
