<nav class="navbar navbar-default navbar-static-top navbar--wrap">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" routerLinkActive="active"> <a [routerLink]="['/main/homePage']" >首页</a></li>
      <li role="presentation" routerLinkActive="active"> <a [routerLink]="['/main/grade']" >自评打分&材料上传</a></li>
      <li role="presentation" routerLinkActive="active"> <a [routerLink]="['/main/lostPoint']" >查看失分项</a></li>
      <li role="presentation" routerLinkActive="active"> <a [routerLink]="['/main/resolveMission']" >分解工作任务</a></li>
      <li role="presentation" > <a href="javascript:void(0)" >打包下载所有材料</a></li>
      <li role="presentation" routerLinkActive="active" class="pull-right"><a [routerLink]="['/login']" >登出</a></li>
    </ul>
  </div>
</nav>