<nav class="navbar navbar-default navbar-static-top navbar--wrap">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" routerLinkActive="active"> <a [routerLink]="['/main/homePage']" >首页</a></li>
      <li role="presentation" routerLinkActive="active"> <a [routerLink]="['/main/grade']" >自评打分&材料上传</a></li>
      <li role="presentation" routerLinkActive="active"> <a [routerLink]="['/main/lostPoint']" >查看失分项</a></li>
      <li role="presentation" routerLinkActive="active"> <a [routerLink]="['/main/resolveMission']" >分解工作任务</a></li>
      <li role="presentation" > <a 
        target="_blank"
        [href]="_constantService.baseUrl() + _apiUrlService.download + '?accessToken=' + this._AuthService.getCurrentUser().accessToken + '&accessKey=' + this._AuthService.getCurrentUser().accessKey"
         >打包下载所有材料</a></li>

      
      <li role="presentation" routerLinkActive="active" class="pull-right"><a [routerLink]="['/login']" >登出</a></li>
      <li role="presentation" class="pull-right"><a data-toggle="modal" data-target="#resetPassword" >重置密码</a></li>
    </ul>
  </div>
</nav>

<div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form (ngSubmit)="registerForm.form.valid && resetPassword()" #registerForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">重置密码</h4>
        </div>
        <div class="modal-body">
        
            <div class="form-group">
              <label for="exampleInputEmail1">用户名</label>
              <input #registerUserName="ngModel" type="text"
              [(ngModel)]="loginInfo.userName"
              [required]="true" name="userName"  
              disabled   
                class="form-control"  placeholder="用户名">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">密码</label>
              <input #registerPassword="ngModel" type="password" 
              [required]="true" name="password"
              [(ngModel)]="loginInfo.password" class="form-control" placeholder="密码">
            </div>            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </div>
    </form>
  </div>
</div>
